// Cores Primárias
$primary-color: #A1FF44;
$secondary-color: #525252;
$tertiary-color: #3a3a3a;

// Cores de Fundo
$background-primary: #050505;
$background-secondary: #A1FF44;
$background-tertiary: #777777;
$background-quaternary:#050505;

// Cores de Texto
$text-primary: #000000;
$text-secondary: #FFFFFF;
$text-highlight:#A1FF44;
$text-muted: #777777;
$text-dark: #484848;
