@import '../../colors';
.container__projects{
  background: linear-gradient(to bottom, rgba(30, 31, 34, 0), rgba(0, 0, 0, 0)),
  url("/assets/banner-projects.webp") no-repeat center center;
  background-size: cover;
  height: 100%;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-muted;
  gap: 2rem;

  &-greeting{
    color: $text-muted;

    &-title{
      font-size: 1.5rem;
      background: linear-gradient(to right, $text-highlight, #6c0069);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-text{
      font-size: .8rem;
    }

    &-msg{
      font-size: .8rem;
    }
  }

  &-content{
    &-containerCards{
      &-card{
        padding: 1.5rem;
        border-radius: 30px;

        &-name{
          font-size: .95rem;
          color: $text-highlight;
        }

        &-description{
          font-size: .8rem;
          color: #505050;
        }

        &-img{
          width:100%;
          border-radius: 20px;
        }

        &-cardTecnologies{
          display: flex;
          flex-direction: column;
          gap: .5rem;

          &-title{
            font-size: .9rem;
            color: $text-highlight;
          }
          &-subtitle{
            font-size: .7rem;
            color: #505050;
          }
        }
      }
    }
  }
}




