@import '../../colors';

.container-footer{
  padding: 4rem 6rem;
  color: $secondary-color;
  border-top: 1px solid #1f1f1f;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: .8rem;
  gap: 1rem;

  &-copyAndContacts{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    &-copy{
      display: flex;
      align-items: center;
      justify-content:center;
      gap: .25rem;
    }


    &-contacts{
      &-content{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        gap: .5rem;

        &-title{
          color: $text-highlight;
        }

        &-list{
          display: flex;
          justify-content: space-evenly;
          gap: 1rem;

          &-btn{
            display: flex;
            align-items: center;
            justify-content:center;
            gap: .25rem;
            background: none;
            color: $secondary-color;
            font-size: .7rem;
            cursor: pointer;
            transition: .5s;

            &:hover{
              transition: .5s;
              color: $text-muted;
            }
          }
        }
      }
    }
  }

  &-reference{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;

    &-title{
      color: $text-highlight;
    }
  }
}

.line{
  height: 1px;
  width: 100%;
  background: $background-secondary;
}

@media (max-width: 700px) {
  @import "footer.component-responsiveA";
}
@media (max-width: 500px) {
  @import "footer.component-mobile";
}
