@import '../../colors';
.container-main {
  &__content {
    &-intro {
      &-role {
        font-size: 6rem;
        margin-left: -0.5rem;
        background: linear-gradient(to right, $text-highlight, #6c0069);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}


