@import '../../colors';
.container-main {
  &__content {
    &-intro {
      text-align: center;

      &-contacts{
        margin-bottom: 1rem;

        &-list{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          &-item{
            &-btn{
              padding: .5rem .75rem;
              border-radius: 50px;
              background:none;
              color: $text-highlight;
              font-size: .8rem;
              border: 2px solid $text-highlight;
              transition: .5s;
              cursor: pointer;

              &:hover{
                background:$text-highlight;
                color: $text-secondary;
              }

            }
          }
        }
      }

      &-role {
        font-size: 4rem;
        margin-left: -0.5rem;
        background: linear-gradient(to right, $text-highlight, #6c0069);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &-message{
        width: 300px;
        font-size: .7rem;
        margin: 0 auto;
      }
    }
  }
}

