@import '../../colors';
.container-main {
  &__content {
    &-intro {
      text-align: center;
      &-role {
        font-size: 5rem;
        margin-left: -0.5rem;
        background: linear-gradient(to right, $text-highlight, #6c0069);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &-message{
        width: 300px;
        font-size: .8rem;
        margin: 0 auto;
      }
    }
  }
}

