<main class="container-main">
  <div class="container-main__content">
    <div class="container-main__content-intro">
      <span class="container-main__content-intro-greeting">Olá! Me chamo,</span>
      <p class="container-main__content-intro-name">{{infos.name}}</p>
      <p class="container-main__content-intro-title">Sou desenvolvedor</p>
      <h1 class="container-main__content-intro-role">{{infos.role}}</h1>
      <p class="container-main__content-intro-message">{{warning.msg}}</p>
    </div>
  </div>
</main>

