@import '../../colors';

.container-main {
  background: linear-gradient(to bottom, rgba(30, 31, 34, 0), rgba(0, 0, 0, 0)),
  url("/assets/banner-presentation.webp") no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  &__content {
    color: $text-secondary;
    &-intro {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: .5rem;

      &-contacts{
        margin-bottom: 1rem;

        &-list{
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 1rem;

          &-item{
            &-btn{
              padding: .75rem 1rem;
              border-radius: 50px;
              background:none;
              color: $text-highlight;
              font-size: 1rem;
              border: 2px solid $text-highlight;
              transition: .5s;
              cursor: pointer;

              &:hover{
                background:$text-highlight;
                color: $text-secondary;
              }

            }
          }
        }
      }

      &-greeting {
        font-size: 1.2rem;
      }

      &-name {
        font-weight: bolder;
        font-size: 2rem;
      }

      &-title {
      }

      &-role {
        font-size: 7rem;
        margin-left: -0.5rem;
        background: linear-gradient(to right, $text-highlight, #6c0069);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-message{
        width: 300px;
        font-size: .7rem;
        line-height: 1.5rem;
        color: $text-muted;
      }
    }
  }
}

@media (max-width: 880px) {
  @import "presentation.component-responsiveA";
}
@media (max-width: 775px) {
  @import "presentation.component-responsiveB";
}
@media (max-width: 685px) {
  @import "presentation.component-responsiveC";
}
@media (max-width: 600px) {
  @import "presentation.component-responsiveD";
}
@media (max-width: 500px){
  @import "presentation.component-mobile";
}
