@import '../../colors';
.container-main {
  background: linear-gradient(to bottom, rgba(30, 31, 34, 0), rgba(0, 0, 0, 0)),
  url("/assets/banner-presentation-responsive.svg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  &__content {
    color: $text-secondary;
    display: flex;
    align-items: center;
    margin: 0 ;
    position: absolute; /* Altera para absoluto para posicionamento preciso */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza em relação ao próprio tamanho */
    justify-content: flex-start;
    width: 100%;

    &-intro {
      width: 100%;
      margin: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: .5rem;

      &-greeting {
        font-size: 1.2rem;
      }

      &-name {
        font-weight: bolder;
        font-size: 1.5rem;
      }

      &-title {
      }

      &-role {
        font-size: 3rem;
        margin-left: -0.5rem;
        background: linear-gradient(to right, $text-highlight, #6c0069);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-message{
        width: 250px;
        font-size: .6rem;
      }
    }
  }
}

