@import '../../colors';
.container__exp{
  color: $text-secondary;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;


  &-title{
    background: linear-gradient(to right, $text-highlight, #6c0069);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
  }

}
