<main class="container__aboutme">
  <section class="container__aboutme-content">
    <h1 class="container__aboutme-content-title">Sobre mim</h1>
  </section>
  <section class="container__aboutme-profile">
    <section class="container__aboutme-profile-imgAndGraduation">
      <section class="container__aboutme-profile-imgAndGraduation-infos">
        <img class="container__aboutme-profile-imgAndGraduation-infos-img" src="/assets/svgs/profile.svg" alt="Perfil">
        <div class="container__aboutme-profile-imgAndGraduation-infos-myinfos">
          <ul class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list">
            <li class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item">
              <h4 class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item-title">Nome</h4>
              <p class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item-text">{{myInformations.name}}</p>
            </li>
            <li class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item">
              <h4 class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item-title">Age</h4>
              <p class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item-text">{{myInformations.age}}</p>
            </li>
            <li class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item">
              <h4 class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item-title">Email</h4>
              <p class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item-text">{{myInformations.email}}</p>
            </li>
            <li class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item">
              <h4 class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item-title">Nacionalidade</h4>
              <p class="container__aboutme-profile-imgAndGraduation-infos-myinfos-list-item-text">{{myInformations.nationality}}</p>
            </li>
          </ul>
        </div>
      </section>
      <div class="container__aboutme-profile-imgAndGraduation-philosophy">
        <div class="container__aboutme-profile-imgAndGraduation-philosophy-content">
          <i class="bi bi-lightbulb-fill container__aboutme-profile-imgAndGraduation-philosophy-content-icon"></i>
          <h3 class="container__aboutme-profile-imgAndGraduation-philosophy-content-title">Minha Filosofia como desenvolvedor</h3>
        </div>
        <p class="container__aboutme-profile-imgAndGraduation-philosophy-text">{{aboutMe.textMyPhilosophy}}</p>
      </div>
    </section>

    <section class="container__aboutme-profile-infos">
      <div class="container__aboutme-profile-infos-greeting">
        <h2 class="container__aboutme-profile-infos-greeting-welcome">Olá, seja bem vindo(a)!</h2>
        <article class="container__aboutme-profile-infos-greeting-description">
          <p class="container__aboutme-profile-infos-greeting-description-text">{{aboutMe.textPresentation}}</p>
        </article>
      </div>
    </section>

    <div>
      <h2 class="graduation__title">Graduação</h2>
      <ul class="graduation__list">
        <li class="graduation__list-item">
          <h4 style="font-size: .7rem" class="graduation__list-item-title">Instituição</h4>
          <p style="font-size: .7rem" class="graduation__list-item-text">{{courseName.instituicao}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 style="font-size: .7rem" class="graduation__list-item-title">Curso</h4>
          <p style="font-size: .7rem" class="graduation__list-item-text">{{courseName.name}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 style="font-size: .7rem" class="graduation__list-item-title">Status</h4>
          <p style="font-size: .7rem" class="graduation__list-item-text">{{courseName.status}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 style="font-size: .7rem" class="graduation__list-item-title">Previsão de formação</h4>
          <p style="font-size: .7rem" class="graduation__list-item-text">{{courseName.forecast}}</p>
        </li>
      </ul>
    </div>

  </section>
</main>
