@import '../../colors';
.container__aboutme{
  &-profile{
    &-imgAndGraduation{
      &-infos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid #1c1c1c;
        border-radius: 50px 0 50px 50px;

        &-myinfos{
          &-list{
            display: flex;
            gap: .5rem;
            flex-direction: column;
            padding: 2rem;
          }
        }
      }
      &-philosophy{
        background: #5e17eb;
        border-radius: 50px 50px 50px 0px;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;


        &-content{
          display: flex;
          align-items: flex-start;
          gap: .5rem;
          width: 100%;
        }

        &-text{
          text-align: justify;
          text-indent: 1.5rem;
          line-height: 1.5rem;
          font-size: .8rem;
        }
      }
    }
  }
}
