@import '../../colors';

.container__aboutme{
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: $text-secondary;

  &-content{
    margin: 2rem 6rem;

    &-title{
      background: linear-gradient(to right, $text-highlight, #6c0069);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2rem;
    }
  }
}
//container (About Me)
.profile{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: flex-start;
  margin: 0 6rem;
  height: 100%;

  &__imgAndGraduation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;

    &-infos{
      display: flex;
      align-items: center;
      border: 2px solid #1c1c1c;
      border-radius: 50px 50px 0 50px;
      height: 100%;

      &-img{
        width: 250px;
      }

      &-myinfos{
        padding:2rem 2rem 2rem 0;
        &-list{
          display: flex;
          gap: .5rem;
          flex-direction: column;

          &-item{
            display: flex;
            gap: .3rem;
            flex-direction: column;

            &-title{
              font-size: .95rem;
              color: $background-secondary;
            }

            &-text{
              font-size: .8rem;
              color: $text-muted;
            }
          }
        }
      }
    }


    &-philosophy{
      background: #330061;
      padding: 2rem;
      border-radius: 0 50px 50px 50px;
      font-size: .7rem;

      &-content{
        display: flex;
        gap: .5rem;
        align-items: center;

        &-icon{
          font-size: 1.5rem;
        }

        &-title{
          color: $text-secondary;
        }

      }


      &-text{
        color: $text-secondary;
        text-align: justify;
        text-indent: 1rem;
        line-height: 2rem;
        padding: 1rem;
      }
    }

  }

  &__infos{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;

    &-greeting{
      font-size: .7rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 750px;
    }
  }

  &__welcome{
    font-size: 1.5rem;
    color: $text-secondary;
  }

  &__description{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
    text-align: justify;
  }

  &__text{
    text-indent: 2rem;
    color: $text-muted;
    line-height: 2rem;
  }


  &__toHelpYou{
    &-title{
      padding: 1rem 0 2rem 0;
      color: $text-muted;
    }
  }
}

@media (max-width: 1024px) {
  .profile{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: flex-start;
    margin: 0 6rem;
    height: 100%;

    &__imgAndGraduation{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 2rem;

      &-infos{
        display: flex;
        align-items: center;
        border: 2px solid #1c1c1c;
        flex-direction: column;
        border-radius: 50px 50px 0 50px;
        height: 100%;

        &-img{
          width: 250px;
        }

        &-myinfos{
          padding:2rem 2rem 2rem 0;
          &-list{
            display: flex;
            gap: .5rem;
            flex-direction: column;

            &-item{
              display: flex;
              gap: .3rem;
              flex-direction: column;

              &-title{
                font-size: .95rem;
                color: $background-secondary;
              }

              &-text{
                font-size: .8rem;
                color: $text-muted;
              }
            }
          }
        }
      }


      &-philosophy{
        background: #330061;
        padding: 0rem;
        border-radius: 0 50px 50px 50px;
        font-size: .7rem;
        height: 100%;

        &-content{
          display: flex;
          gap: .5rem;
          align-items: center;
          padding: 2rem 2rem  0 2rem;

          &-icon{
            font-size: 1.5rem;
          }

          &-title{
            color: $text-secondary;
          }

        }


        &-text{
          color: $text-secondary;
          text-align: justify;
          text-indent: 1rem;
          line-height: 2rem;
          padding: 2rem;
        }
      }

    }

    &__infos{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 2rem;

      &-greeting{
        font-size: .7rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 750px;
      }
    }

    &__welcome{
      font-size: 1.5rem;
      color: $text-secondary;
    }

    &__description{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 1rem;
      text-align: justify;
    }

    &__text{
      text-indent: 2rem;
      color: $text-muted;
      line-height: 2rem;
    }


    &__toHelpYou{
      &-title{
        padding: 1rem 0 2rem 0;
        color: $text-muted;
      }
    }
  }
}

@media (max-width: 965px) {
  .container__aboutme{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $text-secondary;

    &-content{
      margin: 2rem 3rem;

      &-title{
        background: linear-gradient(to right, $text-highlight, #6c0069);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
      }
    }
  }

  .profile{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: flex-start;
    margin: 0 5rem;
    height: 100%;

    &__imgAndGraduation{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 2rem;

      &-infos{
        display: flex;
        align-items: center;
        border: 2px solid #1c1c1c;
        flex-direction: row;
        border-radius: 50px 50px 0 50px;
        height: 100%;

        &-img{
          width: 250px;
          padding: 1rem;
        }

        &-myinfos{
          padding:2rem 2rem 2rem 0;
          &-list{
            display: flex;
            gap: .5rem;
            flex-direction: column;

            &-item{
              display: flex;
              gap: .3rem;
              flex-direction: column;

              &-title{
                font-size: .95rem;
                color: $background-secondary;
              }

              &-text{
                font-size: .6rem;
                color: $text-muted;
              }
            }
          }
        }
      }


      &-philosophy{
        background: #330061;
        padding: 0rem;
        border-radius: 0 50px 50px 50px;
        font-size: .6rem;
        height: 100%;

        &-content{
          display: flex;
          gap: .5rem;
          align-items: center;
          padding: 2rem 2rem  0 2rem;

          &-icon{
            font-size: 1.5rem;
          }

          &-title{
            color: $text-secondary;
          }

        }


        &-text{
          color: $text-secondary;
          text-align: justify;
          text-indent: 1rem;
          line-height: 2rem;
          padding: 2rem;
        }
      }

    }

    &__infos{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: 2rem;

      &-greeting{
        font-size: .6rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .container__aboutme{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: $text-secondary;

    &-content{
      margin: 2rem 5rem;
    }
  }

  .profile{
    &__imgAndGraduation{
      &-infos{
        display: flex;
        align-items: center;
        border: 2px solid #1c1c1c;
        flex-direction: column;
        border-radius: 50px 50px 0 50px;
        height: 100%;
      }
    }
  }
}
