<main class="container__main">
  <section class="container__infos">
    <h1 class="container__infos-title">Menu</h1>
    <p class="container__infos-description">Click nos cards para me conhecer melhor.</p>
  </section>
  <section class="container__menu">
    <section (click)="toggleDiv('aboutMe')" class="container__menu-card">
      <div class="container__menu-cardA">
        <div class="container__menu-cardA-content">
          <span>{{itemMenu.about.title}}</span>
        </div>
      </div>
    </section>
    <section class="container__menu-grid">
      <div (click)="toggleDiv('exp')" class="container__menu-card">
        <div class="container__menu-card-info">
          <span class="material-symbols-outlined">add_reaction</span>
          <p>{{itemMenu.exp.title}}</p>
          <p>{{itemMenu.exp.description}}</p>
        </div>
      </div>

      <div (click)="toggleDiv('edu')" class="container__menu-card">
        <div class="container__menu-card-info">
          <span class="material-symbols-outlined">school</span>
          <p>{{itemMenu.edu.title}}</p>
          <p>{{itemMenu.edu.description}}</p>
        </div>
      </div>
    </section>
    <section class="container__menu-grid">
      <div  (click)="toggleDiv('hab')" class="container__menu-card">
        <div class="container__menu-card-info" >
          <span class="material-symbols-outlined">downhill_skiing</span>
          <p>{{itemMenu.hab.title}}</p>
          <p>{{itemMenu.hab.description}}</p>
        </div>
      </div>
      <div (click)="toggleDiv('project')" class="container__menu-card">
        <div class="container__menu-card-info" >
          <span class="material-symbols-outlined">folder_data</span>
          <p>{{itemMenu.projects.title}}</p>
          <p>{{itemMenu.projects.description}}</p>
        </div>
      </div>
    </section>
  </section>
</main>

<section #myDiv [ngClass]="{ 'aboutMeEnable': isAboutMe, 'aboutMeDisable': !isAboutMe }">
  <div class="btn-back">
    <button class="btn-back__button" (click)="toggleDiv('aboutMe')">
      <span class="btn-back__icon material-symbols-outlined">reply</span>
      <p class="btn-back__text">Voltar</p>
    </button>
    <h1 class="btn-back__title"> | {{itemMenu.about.title}}</h1>
  </div>
  <section class="profile">
    <aside>
      <img class="profile__img" src="/assets/imgs-menu/imgs/perfil.png" alt="Perfil">
      <h2 class="graduation__title">Graduação</h2>
      <ul class="graduation__list">
        <li class="graduation__list-item">
          <h4 class="graduation__list-item-title">Instituição</h4>
          <p class="graduation__list-item-text">{{courseName.instituicao}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 class="graduation__list-item-title">Curso</h4>
          <p class="graduation__list-item-text">{{courseName.name}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 class="graduation__list-item-title">Status</h4>
          <p class="graduation__list-item-text">{{courseName.status}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 class="graduation__list-item-title">Previsão de formação</h4>
          <p class="graduation__list-item-text">{{courseName.forecast}}</p>
        </li>
      </ul>
    </aside>

    <aside class="profile__info">
      <h2 class="profile__welcome">Olá, seja bem vindo(a)!</h2>
      <article class="profile__description">
        <p class="profile__text">{{aboutMe.textPresentation}}</p>
        <p class="profile__text">{{aboutMe.textPresentationEmphasis}}</p>
      </article>

      <div class="profile__philosophy">
        <h3 class="profile__philosophy-title">Minha Filosofia como desenvolvedor</h3>
        <p class="profile__philosophy-text">{{aboutMe.textMyPhilosophy}}</p>
      </div>

      <div class="profile__toHelpYou">
        <h4 class="profile__toHelpYou-title">como posso ajudar seu negócio  e sua empresa!</h4>
        <cdk-accordion class="example-accordion">
          @for (item of toHelpYou; track item; let index = $index) {
            <cdk-accordion-item
              #accordionItem="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index">
              <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                {{ item.title }}
                <span class="example-accordion-item-description">
                Click para {{ accordionItem.expanded ? 'fechar' : 'abrir' }}
              </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <p>{{item.informations}}</p>
              </div>
            </cdk-accordion-item>
          }
        </cdk-accordion>
      </div>
    </aside>
  </section>
</section>

<section #expDiv [ngClass]="{ 'expEnable': isExp, 'expDisable': !isExp }">
  <div class="btn-back">
    <button class="btn-back__button" (click)="toggleDiv('exp')">
      <span class="btn-back__icon material-symbols-outlined">reply</span>
      <p class="btn-back__text">Voltar</p>
    </button>
    <h1 class="btn-back__title"> | {{itemMenu.exp.title}}</h1>
  </div>

  <section class="exp">
    <aside>
      <img class="exp__img" src="/assets/imgs-menu/imgs/perfil.png" alt="Perfil">
      <section class="note">
        <h2 class="note__title">Nota Pessoal</h2>
        <p class="note__text" style="color: #A1FF44">
          {{ personalNoteEpx }}
        </p>
      </section>
    </aside>
    <aside class="exp-info">
      <h2 class="exp-info__title">Minha última experiência</h2>
      <img class="exp-info__img" src="/assets/imgs-menu/imgs/logo-empresa.png" alt="logo última empresa">
      <ul class="exp-info-list">
        <li class="exp-info-list__item">
          <h3 class="exp-info-list__item-title">Empresa</h3>
          <p class="exp-info-list__item-text">{{lastExperience.company}}</p>
        </li>
        <li class="exp-info-list__item">
          <h3 class="exp-info-list__item-title">Duração</h3>
          <p class="exp-info-list__item-text">{{lastExperience.duration}}</p>
        </li>
        <li class="exp-info-list__item">
          <h3 class="exp-info-list__item-title">Cargo</h3>
          <p class="exp-info-list__item-text">{{lastExperience.office}}</p>
        </li>
        <li class="exp-info-list__item">
          <h3 class="exp-info-list__item-title">Atividades</h3>
          <p class="exp-info-list__item-text">{{lastExperience.activities}}</p>
        </li>
        <li class="exp-info-list__item">
          <h3 class="exp-info-list__item-title">Projetos</h3>
          @for (itens of lastExperience.projects; track itens){
            <p class="exp-info-list__item-text">{{itens.project}}</p>
          }
        </li>
      </ul>
    </aside>
  </section>
</section>

<section #habDiv [ngClass]="{ 'habEnable': ishab, 'habDisable': !ishab }">
  <div class="btn-back">
    <button class="btn-back__button" (click)="toggleDiv('hab')">
      <span class="btn-back__icon material-symbols-outlined">reply</span>
      <p class="btn-back__text">Voltar</p>
    </button>
    <h1 class="btn-back__title"> | {{itemMenu.hab.title}}</h1>
  </div>
  <section class="skills">
    <aside class="skills-asideA">
      <img class="skills-asideA__img" src="/assets/imgs-menu/imgs/perfil.png" alt="imagem com um avatar de perfil">
      <div class="skills-asideA-hardSkills">
        <h2 class="skills-asideA-hardSkills-title">Hard Skills (%)</h2>
        @for (itens of hardSkills; track itens){
          <div class="skills-asideA-hardSkills-itens">
            <img
              matTooltip="{{itens.percentage}}% {{itens.title}}"
              matTooltipPosition="right"
              style="width :30px; cursor: pointer"
              src="{{itens.src}}" alt="{{itens.alt}}"
            >
            <mat-progress-bar mode="determinate" value="{{itens.percentage}}"></mat-progress-bar>
          </div>
        }
      </div>
    </aside>
    <aside class="skills-asideB">
      <h2 class="skills-asideB__title">Minhas habilidades!</h2>
      <p class="skills-asideB__subtitle">
        Além de minha paixão por desenvolvimento de sistemas,
        acredito firmemente na importância das soft skills no ambiente de trabalho.
      </p>
      <div class="skills-asideB-accordion">
        <h2 class="skills-asideB-accordion__title">Soft Skills</h2>
        <cdk-accordion class="example-accordion">
          @for (item of softSkills; track item; let index = $index) {
            <cdk-accordion-item
              #accordionItem="cdkAccordionItem"
              class="example-accordion-item"
              role="button"
              tabindex="0"
              [attr.id]="'accordion-header-' + index"
              [attr.aria-expanded]="accordionItem.expanded"
              [attr.aria-controls]="'accordion-body-' + index">
              <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                {{ item.name }}
                <span class="example-accordion-item-description">
                  Click para {{ accordionItem.expanded ? 'fechar' : 'abrir' }}
                </span>
              </div>
              <div
                class="example-accordion-item-body"
                role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                {{ item.description }}
              </div>
            </cdk-accordion-item>
          }
        </cdk-accordion>
      </div>

      <section class="note">
        <h2 class="note__title">Nota Pessoal</h2>
        <p class="note__text">
          {{ personalNoteHab }}
        </p>
      </section>

    </aside>
  </section>
</section>

<section #eduDiv [ngClass]="{ 'eduEnable': isEdu, 'eduDisable': !isEdu }">
  <div class="btn-back">
    <button class="btn-back__button" (click)="toggleDiv('edu')">
      <span class="btn-back__icon material-symbols-outlined">reply</span>
      <p class="btn-back__text">Voltar</p>
    </button>
    <h1 class="btn-back__title"> | {{itemMenu.edu.title}}</h1>
  </div>
  <section class="edu">
    <aside class="edu__aside edu__aside--a">
      <img class="edu__img" src="/assets/imgs-menu/imgs/perfil.png" alt="perfil">

      <h2 class="graduation__title">Graduação</h2>
      <ul class="graduation__list">
        <li class="graduation__list-item">
          <h4 class="graduation__list-item-title">Instituição</h4>
          <p class="graduation__list-item-text">{{courseName.instituicao}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 class="graduation__list-item-title">Curso</h4>
          <p class="graduation__list-item-text">{{courseName.name}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 class="graduation__list-item-title">Status</h4>
          <p class="graduation__list-item-text">{{courseName.status}}</p>
        </li>
        <li class="graduation__list-item">
          <h4 class="graduation__list-item-title">Previsão de formação</h4>
          <p class="graduation__list-item-text">{{courseName.forecast}}</p>
        </li>
      </ul>
    </aside>

    <aside class="edu__aside edu__aside--b">
      <h2 class="edu__aside--b-title">Formações e cursos avulsos</h2>
      <p class="edu__aside--b-text">
        Tenho mais de um ano de experiência em desenvolvimento de sistemas com Java e frameworks como ReactJS e Angular.
        Durante esse período, participei de diversos cursos e certificações para aprimorar minhas habilidades.
        Estou sempre em busca de novos conhecimentos para me manter atualizado e entregar soluções de alta qualidade.
      </p>
      <cdk-accordion class="example-accordion">
        @for (item of separateCourses; track item; let index = $index) {
          <cdk-accordion-item
            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item.name }}
              <span class="example-accordion-item-description">
                Click para {{ accordionItem.expanded ? 'fechar' : 'abrir' }}
              </span>
            </div>
            <div
              class="example-accordion-item-body"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index">

              @for (itens of item.children; track itens){
                <p style="margin-bottom: 1rem">{{itens.name}}</p>
              }

            </div>
          </cdk-accordion-item>
        }
      </cdk-accordion>
    </aside>
  </section>
</section>

<section #projectDiv [ngClass]="{ 'projectEnable': isProject, 'projectDisable': !isProject }">
  Projects Content
</section>

