@import '../../colors';
.container__menu{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding:1rem;
  position: fixed;
  width: 50px;
  top: 0;
  box-sizing: border-box;
  border-radius: 0 0 20px 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);

  &-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 93%;
    margin: 1rem auto 0 auto;

    &-img{
      width: 20px;
    }

    &-button {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.25rem .5rem;
      background: none;
      color: $text-muted;
      border-radius: 50px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
      font-size: .8rem;

      &:hover {
        transition: 1s;
        background: $background-secondary;
        color: $text-secondary;
      }

      &:disabled {
        cursor: not-allowed;
        background: #2a2a2a;
        color: $text-muted;
      }
    }
  }
}
