<section class="container__menu">
  <aside class="container__menu-buttons">
    <img class="container__menu-buttons-img" loading="lazy"  src="/assets/logo.svg">

    <i style="color:#6300b7;"  class="bi bi-dash-lg"></i>

    <button (click)="linkLinkedin()" class="container__menu-buttons-button" aria-label="LinkedIn" title="Ir para LinkedIn">
      <i class="bi bi-linkedin"></i>
      <!--      <p>LinkedIn</p> &lt;!&ndash; Correção no texto &ndash;&gt;-->
    </button>
    <button (click)="linkWhatsApp()" class="container__menu-buttons-button" aria-label="WhatsApp" title="Ir para WhatsApp">
      <i class="bi bi-whatsapp"></i>
      <!--      <p>WhatsApp</p>-->
    </button>
    <button (click)="downloadPDF()" [disabled]="isLoading" class="container__menu-buttons-button"
            title="{{ isLoading ? 'Baixando...' : 'Baixar CV' }}">
      <i class="bi bi-file-earmark-arrow-down-fill"></i>
      <!--      <p>{{ isLoading ? 'Baixando...' : 'Baixar CV' }}</p>-->
    </button>

    <i style="color:#6300b7;" class="bi bi-dash-lg"></i>

    <button (click)="scrollToSection('presentation')" class="container__menu-buttons-button"
            title="Ir para o início">
      <i class="bi bi-caret-up-fill"></i>
      <!--      <p>{{ isLoading ? 'Baixando...' : 'Baixar CV' }}</p>-->
    </button>
    <button (click)="scrollToSection('about-me')" class="container__menu-buttons-button"
            title="Ir para sobre mim">
      <i class="bi bi-emoji-smile-fill"></i>
      <!--      <p>{{ isLoading ? 'Baixando...' : 'Baixar CV' }}</p>-->
    </button>
    <button (click)="scrollToSection('exp')" class="container__menu-buttons-button"
            title="Ir para minhas exp">
      <i class="bi bi-emoji-wink-fill"></i>
      <!--      <p>{{ isLoading ? 'Baixando...' : 'Baixar CV' }}</p>-->
    </button>
    <button (click)="scrollToSection('skills')" class="container__menu-buttons-button"
            title="Ir para minhas skills">
      <i class="bi bi-emoji-sunglasses-fill"></i>
      <!--      <p>{{ isLoading ? 'Baixando...' : 'Baixar CV' }}</p>-->
    </button>

    <button (click)="scrollToSection('projects')" class="container__menu-buttons-button"
            title="Ir para projetos">
      <i class="bi bi-file-earmark-code-fill"></i>
      <!--      <p>{{ isLoading ? 'Baixando...' : 'Baixar CV' }}</p>-->
    </button>

    <button (click)="scrollToSection('courses')" class="container__menu-buttons-button"
            title="Ir para cursos/form">
      <i class="bi bi-mortarboard-fill"></i>
    </button>


    <button (click)="scrollToSection('footer')" class="container__menu-buttons-button"
            title="Ir para o final">
      <i class="bi bi-caret-down-fill"></i>
      <!--      <p>{{ isLoading ? 'Baixando...' : 'Baixar CV' }}</p>-->
    </button>

  </aside>
</section>
<main class="container__home">
  <app-presentation  id="presentation" data-aos="fade-up"/>
  <app-about-me id="about-me" data-aos="fade-up"/>
  <app-experience id="exp" data-aos="fade-up"/>
  <app-skills id="skills" data-aos="fade-up"/>
  <app-projects id="projects" data-aos="fade-up"/>
  <app-courses id="courses" data-aos="fade-up"/>
  <app-footer id="footer"/>
</main>
