<header class="container__header">
  <aside class="container__buttons">
    <button (click)="linkLinkedin()" class="container__buttons-button">
      <span class="material-symbols-outlined">link</span>
      <p>Likedin</p>
    </button>
    <button (click)="linkWhatsApp()" class="container__buttons-button">
      <span class="material-symbols-outlined">link</span>
      <p>WhatsApp</p>
    </button>
    <button (click)="downloadPDF()" class="container__buttons-button">
      <span class="material-symbols-outlined">download_for_offline</span>
      <p>Baixar CV</p>
    </button>
  </aside>
</header>
