<header class="container__header">
  <aside class="container__buttons">
    <button (click)="linkLinkedin()" class="container__buttons-button" aria-label="LinkedIn">
      <span class="material-symbols-outlined">link</span>
      <p>LinkedIn</p> <!-- Correção no texto -->
    </button>
    <button (click)="linkWhatsApp()" class="container__buttons-button" aria-label="WhatsApp">
      <span class="material-symbols-outlined">link</span>
      <p>WhatsApp</p>
    </button>
    <button (click)="downloadPDF()" [disabled]="isLoading" class="container__buttons-button">
      <p>{{ isLoading ? 'Baixando...' : 'Baixar CV' }}</p>
    </button>
  </aside>
</header>
